body{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.navbar{
    background-color: rgb(220, 182, 255);
    padding: 15px;
    display: flex;
    justify-content: center;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* click click */
.navbar ul li:hover{
    color: rgb(86, 1, 197);
    cursor: pointer;
}
/* colors of the topics */
.navbar ul li{
    display: inline;
    margin-right: 20px;
    font-size: 35px;
    color: rgb(134, 237, 255);
}
.navbar ul li a{
    text-decoration: none;
    color: rgb(134, 237, 255);
}
/* same thing as line 20 */
.navbar ul li a:hover{
    color: rgb(86, 1, 197);
}

